.texto {
	border-radius: 2px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	text-transform: none;
	color: #CA9956;
	font-weight: bolder;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}
.centraliza {
	text-align: center;
}
